package-lock.json
pnpm-lock.yaml
bun.lockb
bun.lock
yarn.lock
pnpm-lock.yaml
bun.lockb
bun.lock
yarn.lock
node_modules
dist
.vscode
.git
.gitignore
.prettierignore
.prettierrc
.prettierrc.json
.prettierrc.yaml